//colors
$color_main: #fff;
$color_button: #FB8F1D;
$color_button_hover: #d6721d;
$color_button_active: #f5891e;
$color_select_border: #AFB0B9;
$color_text_primary: #202336;
$color_text_secondary: #B8BECD;
$color_footer_bg: #F9F9FB;

//font size
$fs_h1: 70px;
$fs_h2: 36px;
$fs_h3: 24px;
$fs_h4: 19px;
$fs_header: 20px;
$fs_footer: 20px;
$fs_main: 18px;
$fs_button: 15px;

//margins
$mr_header: 81px;
$mr_section: 200px;
$mr_section_xl: 150px;
$mr_section_md: 75px;
$mr_footer: 78px;

//width
$w_header: 1258px;
$w_main: 1258px;

//padding
$pa_main: 19px;

//border-radius
$br_button: 8px;
$br_select: 6px;

//line height
$lh_h2: 50px;