@import "./_variables";
@import "./_breakpoints";
@import "./_animations";
@import "./fonts.scss";

body {
  padding: 0;
  margin: 0;
}

.section_width {
  max-width: $w_main;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: $pa_main;
  padding-right: $pa_main;
}

h2 {
  font-size: $fs_h2;
  letter-spacing: 1px;
  line-height: 50px;
}

h3 {
  font-family: Inter;
  font-weight: 900;
  font-size: $fs_h3;
}

p {
  font-size: $fs_main;
  color: $color_text_secondary;
  line-height: 30px;
}

h1, h2 {
  font-family: Playfair;
}

a, p {
  font-family: Muli;
}