.slider {
  position: relative;
  overflow: hidden;
  max-width: 384px;
  max-height: 491px;
  width: 100%;
  height: 491px;
  border-radius: 18px;

  &-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
      border-radius: 18px;
      width: 100%;
      object-fit: cover;
    }
  }

  .imageHide {
    display: none;
  }

  &-control {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 132px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 16px 0px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      background: transparent;
      outline: none;
      cursor: pointer;

      &:last-child {
        margin-left: 22px;
      }
    }

    .arrow-left, .arrow-right {
      width: 12px;
    }

    .arrow-left {
      transform: rotate(-90deg);
    }

    .arrow-right {
      transform: rotate(90deg);
    }
  }

  @media screen and(max-width: 412px) {
    height: 300px;
  }
}