footer {
  width: 100%;
  background-color: $color_footer_bg;
  padding: 78px 0 30px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  hr {
    border: 1px solid #C4C4C4;
  }
}

.footer {

  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &-block_1 {
      width: 37%;

      &-text {
        width: 70%;
        margin-bottom: 54px;
      }

      .logo {
        margin-bottom: 3px;
      }

      p {
        font-size: $fs_footer;
        line-height: 29px;
      }
    }

    &-lists {
      display: flex;
      justify-content: space-between;
    }

    &-list {
      margin-top: -15px;
      margin-right: 135px;

      &:last-child {
        margin-right: 0;
      }

      h3 {
        font-size: 22px;
      }

      a {
        text-decoration: none;
      }

      p {
        font-size: $fs_footer;
        margin-top: 0;
        margin-bottom: 8px;
        transition: color .1s ease-in;

        &:hover {
          color: #000;
        }
      }
    }
  }

  @media screen and (max-width: $xl){
    &-wrapper {

      &-block_1 {

        &-text {
          width: 90%;
          margin-bottom: 25px;
        }

        p {
          width: 90%;
        }
      }

      &-list {
        margin-right: 35px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: 850px){
    &-wrapper {
      flex-direction: column;

      &-block_1 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        .logo {
          margin-right: auto;
          margin-bottom: 15px;
        }

        &-text {
          width: 100%;
          margin-bottom: 10px;
        }

        p {
          width: 100%;
          margin-top: 0;
        }
      }

      &-lists {
        width: 80%;
        margin: 0 auto;
      }

      &-list {
        margin-right: 35px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: $lg){
    &-wrapper {
      &-block_1 {
        width: 100%;
      }

      &-lists {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $md){
    &-wrapper {
      &-block_1 {
        margin-bottom: 0;
      }

      &-lists {
        flex-direction: column;
        text-align: center;
      }

      &-list {
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
  }
}

.socials {
  padding: 0 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .icon {
    box-sizing: border-box;
    margin-right: 40px;
    cursor: pointer;
    transition: transform .2s ease-in;

    &:hover {
      transform: scale(1.1);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}